.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px 20px;
  border-bottom: 1px solid #ccc;
}
.navbar-content{
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar-content .search-bar{
 display: flex;
 align-items: center;
 gap: 10px;
 flex: 1;
 justify-content: center;
}
.search-bar input{
  border: 1px solid black;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  width: 250px;
}
.search-bar select{
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  width: 150px;
  background-color: white;
  cursor: pointer;
}

.bag{
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;

}
.bagIcon img{
  position: relative;
}
.cart-count{
 position: absolute;
 background-color: red;
 color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
  border-radius: 50%;

}

@media (max-width:780px) {
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
  
  }
 .navbar h1{
 font-size: 30px;
 }
 .navbar-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

}
.search-bar input{
  border: 1px solid black;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  width: 170px;
}
.search-bar select{
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  width: 120px;
  background-color: white;
  cursor: pointer;
}
.bag{
  display: flex;
  align-items: center;
}
  
  
}