.footer{
  color: #d9d9d9;
  background-color: #3f3a44;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 5px 3vw;
  padding-top: 8px;
  margin: 10px;
}
@media (max-width:750px) {
  .footer-copyright{
    text-align: center;
  }
  
}